<div class="wrapper">
  
  <!-- Project listing --> 
  <div class="col-md-3 col-sm-4 bg-primary"style="height: 100vh;">
    <div class="col-md-12">
      <app-project-list></app-project-list>
    </div>
  </div>

  <div class="col-md-9 col-sm-8 bg-body pr-0">

    <div class="col-md-12">
      
      <!-- Header Section -->
      <div class="row mb-2">
        
        <div class="col p-3 bg-primary mr-2 rounded shadow p-3 mb-1 bg-white" style="height: 15vh;">
          <div class="col-md-12 p-3">
            <h1 class="text-white">PROJECTS</h1>
          </div>
        </div>

        <div class="col-2 col-sm-4 p-3 bg-primary rounded shadow p-3 mb-1 bg-white" style="height: 15vh;">
          <div class="col-md-12 p-3 text-center">
            <p class="text-white">Welcome</p>
          </div>
        </div>

      </div>

       <!-- Project Details (Body) Section -->
      <div class="row justify-content-between" *ngIf="projects?.length != 0">

        <app-project-tabs></app-project-tabs>
        
        <ul class="nav nav-pills mt-2" style="max-height: 40px;">
          <li class="nav-item bg-primary rounded shadow-sm p-1 pt-2 pr-3 pl-3">
            <a (click)="editProjectForm()" style="cursor: pointer;"><img src="../assets/images/edit-icon.PNG" alt="" style="max-height: 25px; margin: 0 auto;" class="img-responsive edit-icon"></a>
          </li>
        </ul>
      </div>


      <div class="row bg-secondary mb-1" style="height:0.1px;"><hr></div>
    
      <!-- Project Tabs (Body) Section -->
      <div class="row bg-primary rounded tab-height shadow" style="height: 60vh;">
        <div class="col-md-12" [ngClass]="{'project-form': isForm === 1}">
          <!-- Load project tabs -->
          <router-outlet></router-outlet>          
        </div>
      </div>

      <div class="row bg-primary mt-3 p-3 rounded shadow" style="height: 13vh;"></div>

    </div>
  </div>
</div>